body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;

}

.welcome-section {
    margin-top: 0;
    padding: 0 px;
    height: 8rem;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    background: linear-gradient(300deg, #393646, #4F4557, #6D5D6E);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }

}

.welcome {
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
}

.grid-welcome {
    grid-area: 3/1/5/9;
    margin: 0;
    background-color: black;
    text-align: center;
}

.project-section {
    grid-area: 16/1/24/31;
    margin: 0;

}

.col-lg-4 {

    margin-bottom: 1.5rem;
    text-align: center;
}

.fw-normal {
    margin-top: 20px;
    margin-bottom: 20px;
    color: aliceblue
}

.prog-lang {
    background: #6D5D6E;
}

.proj-opening {

    margin-top: 0px;
    margin-left: 30px;

}

.my-story {
    margin-top: 50px;
}

.my-photo {
    border: solid white 10px;
}

.my-photo-rect {
    margin-top: 100px;
    border: solid white 10px;
    border-radius: 5%;
}

.footer-basic {
    padding: 10px;
    background-color: #6D5D6E;
    color: white;
}

.footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer-basic li {
    padding: 0 0px;
}

.footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-basic ul a:hover {
    opacity: 1;
}

.footer-basic .social {
    text-align: center;
    padding-bottom: 0px;
}

.footer-basic .social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
}

.footer-basic .social>a:hover {
    opacity: 0.9;
    
}

.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
}


/* CSS */
.button-74 {
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-74:hover {
    background-color: #fff;
}

.button-74:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}

@media (min-width: 768px) {
    .button-74 {
        min-width: 120px;
        padding: 0 25px;
    }
}